@charset "utf-8";
/* CSS Document */
.attendance-wrap{
  position: fixed;
  top: 0;
  bottom: 0;
  left:0;
  right: 0;
  padding-top:3vh;
	}
.attendance{
	
	border-top:1px #CCC solid;
	margin-left:5.2vw;
	margin-right:5.2vw;
	height:9.2vh;
	}
.att_text{
	float:left;
	margin-top:1.8vh;
	font-size:2vh;
	width:65vw;
	}

.btn-wrap{
	text-align:center;
	margin-top:2.2vh;
	float:right;	}
.btn-wrap .done{
	width:17.5vw;
	height:4.2vh;
	color:#fff;
	font-size:0.7vh;
	vertical-align:middle;
	background:url(../img/done.png) no-repeat center;
	background-size:contain;
	border:none;
	}
.btn-wrap .undone{
	width:17.5vw;
	height:4.2vh;
	color:#fff;
	font-size:0.7vh;
	vertical-align:middle;
	background:url(../img/undone.png) no-repeat center;
	background-size:contain;
	border:none;
	}

